<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" href="eztiloz.css">
</head>
<body>
	<div class="header">
		<h1> VINES</h1>
		<p> VINE NO HA MUERTO</p>
		<p>Tu mama espera el regreso de vine</p>
	</div>
	<div class="menu">
		<span><a href="menu01.html">Menu 1</a></span>
		<span><a href="menu02.html">Menu 2</a></span>
		<span><a href="menu03.html">Menu 3</a></span>
		<span><a href="menu04.html">Menu 4</a></span>
	</div>
	<div class="contenido">
		<div class="izquierda">
			<div class="item">
				<h2>SECCIÓN DE VINES</h2>
				<h5>LOOK MY AFRICAN AMERICAN HERE</h5>
				<video width="350" height="240" controls>
					<source src="africa.mp4" type="video/mp4">
					<source src="africa.ogg" type="video/ogg">
					</video>
				<h5>TWO BROS CHILLIN IN THE HOT TUB</h5>
				<img src="2bros.jpg" alt="" class="imagen">
			</div>
		</div>
		<div class="derecha">
			<div class="item">
				<h2>Tu papa compra gel y es pelon</h2>
				<img src="drama.jpg" alt="" width="200px">
				<h2>Tu mama se baña con paraguas</h2>
				<img src="zekiana.jpg" alt="" width="200px">
				<h2>Tu mama se baña con pinol</h2>
				<img src="vine.png" alt="" width="200px">
				<h2>Tu mama cocina con aceite de carro</h2>
				<img src="limon.jpg" alt="" width="135px">
			</div>
			</div>
		</div>
	</div>
	<div class="footer">
		<h2>&copy; 2019</h2>
	</div>
</body>
</html>